<ion-view view-title="Title">
<ion-content class="home center">
<div class="row">
	<div class="col">
		<h3>Welcome!</h3>	
	</div>
</div>
<div class="row">
	<div class="col col-50 col-offset-25">
		<img src="img/logo.png"/>

	</div>
</div>
<div class="row">
	<div class="col col-75 col-offset-10">
		<p>VirtualRun3D will use spatial sound to simulate the audio sensations experienced by someone running in a race.</p>
	</div>
</div>
<button class="button button-full button-positive" ng-click="goRun()">START RUNNING</button>
<button class="button button-outline button-full button-positive" ng-click="setProfile()">Update Profile</button>
</div>
</ion-content>
</ion-view>