<ion-view title="Settings">
<ion-header-bar align-title="center" class="bar-positive">
<a class="button icon-left ion-ios-arrow-left button-clear button-light" ng-click="goBack()"></a>
<h1 class="title">Runner Profile</h1>
</ion-header-bar>
<ion-content class="has-header settings">

<ul class="list">
  <div class="item item-divider">General Info</div>
  <label class="item item-input item-label">
    <span class="input-label">Name</span>
    <input type="text" ng-model="player.name">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Age
    </div>
    <select 
      ng-model="player.age" 
      ng-options="age.text for age in options.age track by age.text" selected="true">
    </select>
  </label>

  <div class="item item-divider">Competence</div>
  <ion-radio name="comp" ng-repeat="item in options.competence" ng-value="item.value" ng-model="player.competence">
    {{ item.text }}
  </ion-radio>

  <div class="item item-divider">Units</div>
  <ion-radio name="units" ng-repeat="item in options.units" ng-value="item.value" ng-model="player.units">
    {{ item.text }}
  </ion-radio>

  <div class="item item-divider">Target Speed</div>
  <label class="item item-input item-label">
    <span class="input-label">{{player.units}}</span>
    <input type="number" ng-model="player.target">
  </label>
</ul>

<button class="button button-full button-positive" ng-click="saveInfo()">Update Profile</button>

</ion-content>
</ion-view>